<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlife.fitness.rearend.dao.DUserMapper">
  <resultMap id="BaseResultMap" type="com.newlife.fitness.entity.DUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="d_userName" jdbcType="VARCHAR" property="dUsername" />
    <result column="d_loginName" jdbcType="VARCHAR" property="dLoginname" />
    <result column="d_passWord" jdbcType="VARCHAR" property="dPassword" />
    <result column="d_sex" jdbcType="CHAR" property="dSex" />
    <result column="d_email" jdbcType="VARCHAR" property="dEmail" />
    <result column="d_phone" jdbcType="CHAR" property="dPhone" />
    <result column="d_imgUrl" jdbcType="VARCHAR" property="dImgurl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, d_userName, d_loginName, d_passWord, d_sex, d_email, d_phone, d_imgUrl
  </sql>
  <select id="selectByExample" parameterType="com.newlife.fitness.entity.DUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newlife.fitness.entity.DUserExample">
    delete from d_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newlife.fitness.entity.DUser">
    insert into d_user (id, d_userName, d_loginName, 
      d_passWord, d_sex, d_email, 
      d_phone, d_imgUrl)
    values (#{id,jdbcType=INTEGER}, #{dUsername,jdbcType=VARCHAR}, #{dLoginname,jdbcType=VARCHAR}, 
      #{dPassword,jdbcType=VARCHAR}, #{dSex,jdbcType=CHAR}, #{dEmail,jdbcType=VARCHAR}, 
      #{dPhone,jdbcType=CHAR}, #{dImgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newlife.fitness.entity.DUser">
    insert into d_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dUsername != null">
        d_userName,
      </if>
      <if test="dLoginname != null">
        d_loginName,
      </if>
      <if test="dPassword != null">
        d_passWord,
      </if>
      <if test="dSex != null">
        d_sex,
      </if>
      <if test="dEmail != null">
        d_email,
      </if>
      <if test="dPhone != null">
        d_phone,
      </if>
      <if test="dImgurl != null">
        d_imgUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dUsername != null">
        #{dUsername,jdbcType=VARCHAR},
      </if>
      <if test="dLoginname != null">
        #{dLoginname,jdbcType=VARCHAR},
      </if>
      <if test="dPassword != null">
        #{dPassword,jdbcType=VARCHAR},
      </if>
      <if test="dSex != null">
        #{dSex,jdbcType=CHAR},
      </if>
      <if test="dEmail != null">
        #{dEmail,jdbcType=VARCHAR},
      </if>
      <if test="dPhone != null">
        #{dPhone,jdbcType=CHAR},
      </if>
      <if test="dImgurl != null">
        #{dImgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newlife.fitness.entity.DUserExample" resultType="java.lang.Long">
    select count(*) from d_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update d_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dUsername != null">
        d_userName = #{record.dUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.dLoginname != null">
        d_loginName = #{record.dLoginname,jdbcType=VARCHAR},
      </if>
      <if test="record.dPassword != null">
        d_passWord = #{record.dPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.dSex != null">
        d_sex = #{record.dSex,jdbcType=CHAR},
      </if>
      <if test="record.dEmail != null">
        d_email = #{record.dEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.dPhone != null">
        d_phone = #{record.dPhone,jdbcType=CHAR},
      </if>
      <if test="record.dImgurl != null">
        d_imgUrl = #{record.dImgurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update d_user
    set id = #{record.id,jdbcType=INTEGER},
      d_userName = #{record.dUsername,jdbcType=VARCHAR},
      d_loginName = #{record.dLoginname,jdbcType=VARCHAR},
      d_passWord = #{record.dPassword,jdbcType=VARCHAR},
      d_sex = #{record.dSex,jdbcType=CHAR},
      d_email = #{record.dEmail,jdbcType=VARCHAR},
      d_phone = #{record.dPhone,jdbcType=CHAR},
      d_imgUrl = #{record.dImgurl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newlife.fitness.entity.DUser">
    update d_user
    <set>
      <if test="dUsername != null">
        d_userName = #{dUsername,jdbcType=VARCHAR},
      </if>
      <if test="dLoginname != null">
        d_loginName = #{dLoginname,jdbcType=VARCHAR},
      </if>
      <if test="dPassword != null">
        d_passWord = #{dPassword,jdbcType=VARCHAR},
      </if>
      <if test="dSex != null">
        d_sex = #{dSex,jdbcType=CHAR},
      </if>
      <if test="dEmail != null">
        d_email = #{dEmail,jdbcType=VARCHAR},
      </if>
      <if test="dPhone != null">
        d_phone = #{dPhone,jdbcType=CHAR},
      </if>
      <if test="dImgurl != null">
        d_imgUrl = #{dImgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newlife.fitness.entity.DUser">
    update d_user
    set d_userName = #{dUsername,jdbcType=VARCHAR},
      d_loginName = #{dLoginname,jdbcType=VARCHAR},
      d_passWord = #{dPassword,jdbcType=VARCHAR},
      d_sex = #{dSex,jdbcType=CHAR},
      d_email = #{dEmail,jdbcType=VARCHAR},
      d_phone = #{dPhone,jdbcType=CHAR},
      d_imgUrl = #{dImgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>