<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlife.fitness.frontend.dao.FUserMapper">
  <resultMap id="BaseResultMap" type="com.newlife.fitness.entity.FUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="f_userName" jdbcType="VARCHAR" property="fUsername" />
    <result column="f_loginName" jdbcType="VARCHAR" property="fLoginname" />
    <result column="f_password" jdbcType="VARCHAR" property="fPassword" />
    <result column="f_sex" jdbcType="CHAR" property="fSex" />
    <result column="f_age" jdbcType="INTEGER" property="fAge" />
    <result column="f_address" jdbcType="VARCHAR" property="fAddress" />
    <result column="f_email" jdbcType="VARCHAR" property="fEmail" />
    <result column="f_phone" jdbcType="CHAR" property="fPhone" />
    <result column="f_isVip" jdbcType="CHAR" property="fIsvip" />
    <result column="f_imgUrl" jdbcType="VARCHAR" property="fImgurl" />
    <result column="f_vipBegiTtime" jdbcType="TIMESTAMP" property="fVipbegittime" />
    <result column="f_vipEndTime" jdbcType="TIMESTAMP" property="fVipendtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, f_userName, f_loginName, f_password, f_sex, f_age, f_address, f_email, f_phone, 
    f_isVip, f_imgUrl, f_vipBegiTtime, f_vipEndTime
  </sql>
  <select id="selectByExample" parameterType="com.newlife.fitness.entity.FUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newlife.fitness.entity.FUserExample">
    delete from f_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newlife.fitness.entity.FUser">
    insert into f_user (id, f_userName, f_loginName, 
      f_password, f_sex, f_age, 
      f_address, f_email, f_phone, 
      f_isVip, f_imgUrl, f_vipBegiTtime, 
      f_vipEndTime)
    values (#{id,jdbcType=INTEGER}, #{fUsername,jdbcType=VARCHAR}, #{fLoginname,jdbcType=VARCHAR}, 
      #{fPassword,jdbcType=VARCHAR}, #{fSex,jdbcType=CHAR}, #{fAge,jdbcType=INTEGER}, 
      #{fAddress,jdbcType=VARCHAR}, #{fEmail,jdbcType=VARCHAR}, #{fPhone,jdbcType=CHAR}, 
      #{fIsvip,jdbcType=CHAR}, #{fImgurl,jdbcType=VARCHAR}, #{fVipbegittime,jdbcType=TIMESTAMP}, 
      #{fVipendtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.newlife.fitness.entity.FUser">
    insert into f_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fUsername != null">
        f_userName,
      </if>
      <if test="fLoginname != null">
        f_loginName,
      </if>
      <if test="fPassword != null">
        f_password,
      </if>
      <if test="fSex != null">
        f_sex,
      </if>
      <if test="fAge != null">
        f_age,
      </if>
      <if test="fAddress != null">
        f_address,
      </if>
      <if test="fEmail != null">
        f_email,
      </if>
      <if test="fPhone != null">
        f_phone,
      </if>
      <if test="fIsvip != null">
        f_isVip,
      </if>
      <if test="fImgurl != null">
        f_imgUrl,
      </if>
      <if test="fVipbegittime != null">
        f_vipBegiTtime,
      </if>
      <if test="fVipendtime != null">
        f_vipEndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fUsername != null">
        #{fUsername,jdbcType=VARCHAR},
      </if>
      <if test="fLoginname != null">
        #{fLoginname,jdbcType=VARCHAR},
      </if>
      <if test="fPassword != null">
        #{fPassword,jdbcType=VARCHAR},
      </if>
      <if test="fSex != null">
        #{fSex,jdbcType=CHAR},
      </if>
      <if test="fAge != null">
        #{fAge,jdbcType=INTEGER},
      </if>
      <if test="fAddress != null">
        #{fAddress,jdbcType=VARCHAR},
      </if>
      <if test="fEmail != null">
        #{fEmail,jdbcType=VARCHAR},
      </if>
      <if test="fPhone != null">
        #{fPhone,jdbcType=CHAR},
      </if>
      <if test="fIsvip != null">
        #{fIsvip,jdbcType=CHAR},
      </if>
      <if test="fImgurl != null">
        #{fImgurl,jdbcType=VARCHAR},
      </if>
      <if test="fVipbegittime != null">
        #{fVipbegittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fVipendtime != null">
        #{fVipendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newlife.fitness.entity.FUserExample" resultType="java.lang.Long">
    select count(*) from f_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update f_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fUsername != null">
        f_userName = #{record.fUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.fLoginname != null">
        f_loginName = #{record.fLoginname,jdbcType=VARCHAR},
      </if>
      <if test="record.fPassword != null">
        f_password = #{record.fPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.fSex != null">
        f_sex = #{record.fSex,jdbcType=CHAR},
      </if>
      <if test="record.fAge != null">
        f_age = #{record.fAge,jdbcType=INTEGER},
      </if>
      <if test="record.fAddress != null">
        f_address = #{record.fAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.fEmail != null">
        f_email = #{record.fEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.fPhone != null">
        f_phone = #{record.fPhone,jdbcType=CHAR},
      </if>
      <if test="record.fIsvip != null">
        f_isVip = #{record.fIsvip,jdbcType=CHAR},
      </if>
      <if test="record.fImgurl != null">
        f_imgUrl = #{record.fImgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.fVipbegittime != null">
        f_vipBegiTtime = #{record.fVipbegittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fVipendtime != null">
        f_vipEndTime = #{record.fVipendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update f_user
    set id = #{record.id,jdbcType=INTEGER},
      f_userName = #{record.fUsername,jdbcType=VARCHAR},
      f_loginName = #{record.fLoginname,jdbcType=VARCHAR},
      f_password = #{record.fPassword,jdbcType=VARCHAR},
      f_sex = #{record.fSex,jdbcType=CHAR},
      f_age = #{record.fAge,jdbcType=INTEGER},
      f_address = #{record.fAddress,jdbcType=VARCHAR},
      f_email = #{record.fEmail,jdbcType=VARCHAR},
      f_phone = #{record.fPhone,jdbcType=CHAR},
      f_isVip = #{record.fIsvip,jdbcType=CHAR},
      f_imgUrl = #{record.fImgurl,jdbcType=VARCHAR},
      f_vipBegiTtime = #{record.fVipbegittime,jdbcType=TIMESTAMP},
      f_vipEndTime = #{record.fVipendtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newlife.fitness.entity.FUser">
    update f_user
    <set>
      <if test="fUsername != null">
        f_userName = #{fUsername,jdbcType=VARCHAR},
      </if>
      <if test="fLoginname != null">
        f_loginName = #{fLoginname,jdbcType=VARCHAR},
      </if>
      <if test="fPassword != null">
        f_password = #{fPassword,jdbcType=VARCHAR},
      </if>
      <if test="fSex != null">
        f_sex = #{fSex,jdbcType=CHAR},
      </if>
      <if test="fAge != null">
        f_age = #{fAge,jdbcType=INTEGER},
      </if>
      <if test="fAddress != null">
        f_address = #{fAddress,jdbcType=VARCHAR},
      </if>
      <if test="fEmail != null">
        f_email = #{fEmail,jdbcType=VARCHAR},
      </if>
      <if test="fPhone != null">
        f_phone = #{fPhone,jdbcType=CHAR},
      </if>
      <if test="fIsvip != null">
        f_isVip = #{fIsvip,jdbcType=CHAR},
      </if>
      <if test="fImgurl != null">
        f_imgUrl = #{fImgurl,jdbcType=VARCHAR},
      </if>
      <if test="fVipbegittime != null">
        f_vipBegiTtime = #{fVipbegittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fVipendtime != null">
        f_vipEndTime = #{fVipendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newlife.fitness.entity.FUser">
    update f_user
    set f_userName = #{fUsername,jdbcType=VARCHAR},
      f_loginName = #{fLoginname,jdbcType=VARCHAR},
      f_password = #{fPassword,jdbcType=VARCHAR},
      f_sex = #{fSex,jdbcType=CHAR},
      f_age = #{fAge,jdbcType=INTEGER},
      f_address = #{fAddress,jdbcType=VARCHAR},
      f_email = #{fEmail,jdbcType=VARCHAR},
      f_phone = #{fPhone,jdbcType=CHAR},
      f_isVip = #{fIsvip,jdbcType=CHAR},
      f_imgUrl = #{fImgurl,jdbcType=VARCHAR},
      f_vipBegiTtime = #{fVipbegittime,jdbcType=TIMESTAMP},
      f_vipEndTime = #{fVipendtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>